@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

:root {
    --foreground-rgb: "#141414";
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary: #242424;
    --secondary: #383838;
    --accent: #08f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.hover-outline-transition {
    @apply p-2 flex flex-col gap-1 bg-secondary shadow-md rounded-md cursor-pointer transform duration-500 ease-in-out  w-full;
    outline: 2px solid transparent;
    transition: outline 0.5s ease-in-out;
}

.outline-transition:hover {
    outline: 2px solid #4f46e5; /* Change #4F46E5 to your desired hover outline color */
}

.dark {
    color: white;
    background-color: red;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.title {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin-bottom: 10px;
}

.form button {
    margin-top: 10px;
}

.btn {
    @apply py-2 px-4 rounded bg-accent text-secondary;
}

.dropdown-container {
    max-height: 200px; /* Set a fixed height for the dropdown container */
    overflow-y: auto; /* Enable vertical scrolling if the options exceed the container height */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.inverse-hover {
    --button-color: #fff;
    --button-background-color: #3b82f6;
}

.inverse-hover:hover {
    filter: invert(100%);
}

.description {
    /* Basic reset styles for the dangerous HTML content */
    /* overflow: hidden; */
    /* scroll-behavior: auto;
    height: 20vh; */
}

.description h1 {
    font-size: 1.8em;
}

.description h2 {
    font-size: 1.6em;
}

.description h3 {
    font-size: 1.4em;
}

.description h4 {
    font-size: 1.2em;
}

/* Paragraphs */
.description p {
    margin-bottom: 1em;
}

/* Links */
.description a {
    color: #0066cc;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}

/* Lists */
.description ul,
.description ol {
    padding-left: 20px;
    margin-bottom: 1em;
}

.description li {
    margin-bottom: 0.5em;
}

/* Images */
.description img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Prevents inline gaps */
    margin: 0 auto; /* Center images */
}

/* Tables */
.description table {
    width: 100%;
    border-collapse: collapse;
}

.description th,
.description td {
    border: 1px solid #ddd;
    padding: 8px;
}

.description th {
    background-color: #f0f0f0;
}

/* Blockquote for quotes */
.description blockquote {
    border-left: 4px solid #ccc;
    margin: 1em 0;
    padding-left: 1em;
    font-style: italic;
    background-color: #f9f9f9;
}
