@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

:root {
    --foreground-rgb: "#141414";
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.dark {
    color: white;
    background-color: red;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.title {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin-bottom: 10px;
}

.form button {
    margin-top: 10px;
}

.btn {
    @apply py-2 px-4 rounded bg-accent text-secondary;
}

.dropdown-container {
    max-height: 200px; /* Set a fixed height for the dropdown container */
    overflow-y: auto; /* Enable vertical scrolling if the options exceed the container height */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.inverse-hover {
    --button-color: #fff;
    --button-background-color: #3b82f6;
}

.inverse-hover:hover {
    filter: invert(100%);
}
